PUBLIC_SITE_URL=https://hm.cakson.my.id
GITHUB_TOKEN=
PUBLIC_GSC_VERIFICATION=

FEEDBACK_APPS_SCRIPT_URL=
FEEDBACK_APPS_SCRIPT_SECRET=
FEEDBACK_RECIPIENT=caksonoanggun@gmail.com
FEEDBACK_TEST_MODE=false

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
